.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #00707d;
  color: #fff;
}

.navbar__logo img {
  height: 35px;
}

.navbar__search {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.navbar__search input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
}

.navbar__search button {
  background-color: #00707d;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.navbar__account {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.navbar__account__link {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  cursor: pointer;
}

.navbar__account__divider {
  margin: 0 5px;
}

.item-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.item h2 {
  margin: 0;
}

.item p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.item ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item li {
  margin-bottom: 5px;
}

button {
  background-color: #00707d;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}


.auction-timer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.timer {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.bid-form {
  display: flex;
  align-items: center;
}

.bid-form input {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 8px;
}

.bid-form button {
  background-color: #00707d;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.product-card {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

.product-card__image {
  flex: 1;
  max-width: 150px;
}

.product-card__image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card__details {
  flex: 2;
  margin-left: 20px;
}

.product-card__details h3 {
  margin: 0;
}

.product-card__description {
  margin-top: 5px;
}

.product-card__price {
  margin-top: 10px;
  font-weight: bold;
}

.product-card__buttons {
  margin-top: 15px;
}

.product-card__button {
  background-color: #00707d;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.product-card__button:last-child {
  margin-right: 0;
}



